version: 1.0.{build}
skip_branch_with_pr: true
image: Visual Studio 2019
environment:
  WEBHOOK_URL:
    secure: gOKbXaZM9ImtMD5XrYITvdyZUW/az082G9OIN1EC1Vbg57wBaeLhi49uGjxPw5GVujHku6kxN6ab89zhbS5GVeluR76GM83IbKV4Sh7udXzoYZZdg6YudtYHzdhCgUeiedpswbuczTq9ceIkkfSEWZuh/lMAAVVwvcGsJAnoPFw=
  APPVEYOR_RDP_PASSWORD:
    secure: 9XT9DbxNb81Zu8pY3GtvdA==
build:
  parallel: true
build_script:
- cmd: >-
    git clone --depth=1 https://github.com/ModOrganizer2/modorganizer-umbrella.git c:\projects\modorganizer-umbrella 2> $null

    git checkout $(git show-ref --verify --quiet refs/remotes/origin/%APPVEYOR_REPO_BRANCH% || echo '-b') %APPVEYOR_REPO_BRANCH%

    mkdir c:\projects\modorganizer-build -type directory

    cd c:\projects\modorganizer-umbrella

    C:\Python37-x64\python.exe unimake.py -d c:\projects\modorganizer-build -s Appveyor_Build=True %APPVEYOR_PROJECT_NAME% -s Feature_Branch=%APPVEYOR_REPO_BRANCH%
artifacts:
- path: build\src\uibase.dll
  name: uibase_dll
- path: build\src\uibase.pdb
  name: uibase_pdb
- path: build\src\uibase.lib
  name: uibase_lib
on_success:
  - ps: Set-Location -Path $env:APPVEYOR_BUILD_FOLDER
  - ps: Invoke-RestMethod https://raw.githubusercontent.com/DiscordHooks/appveyor-discord-webhook/master/send.ps1 -o send.ps1
  - ps: ./send.ps1 success $env:WEBHOOK_URL
on_failure:
  - ps: $blockRdp = $true; iex ((new-object net.webclient).DownloadString('https://raw.githubusercontent.com/appveyor/ci/master/scripts/enable-rdp.ps1'))
  - ps: Set-Location -Path $env:APPVEYOR_BUILD_FOLDER
  - ps: Push-AppveyorArtifact ${env:APPVEYOR_BUILD_FOLDER}\stdout.log
  - ps: Push-AppveyorArtifact ${env:APPVEYOR_BUILD_FOLDER}\stderr.log
  - ps: Invoke-RestMethod https://raw.githubusercontent.com/DiscordHooks/appveyor-discord-webhook/master/send.ps1 -o send.ps1
  - ps: ./send.ps1 failure $env:WEBHOOK_URL
